.container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 10vw;
}

.bottleblock {
    display: flex;
    flex-direction: row;
}

.bottleimage {
    width: 20vw;
    padding: 7px;
    cursor: pointer;
}

@media (max-width:765px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .bottleblock {
        display: flex;
        flex-direction: column;
    }

    .bottleimage {
        width: 80vw;
        padding: 7px;
    }

}