.container {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 3vh;
    cursor: pointer;
}

.two {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.img1 {
    width: 40vw;
    padding-right: 0.5vw;
}

.img2 {
    width: 40vw;
    padding-left: 0.5vw;
}

.img3 {
    width: 80vw;
    margin-top: 2vh;
}

@media (max-width:767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .two {
        display: flex;
        flex-direction: column;
    }

    .img1 {
        width: 80vw;
    }

    .img2 {
        padding: 0;
        width: 80vw;
        margin-top: 2vh;
    }

    .img3 {
        width: 80vw;
    }
}